@import "tailwindcss";
@keyframes truckMove {
  0% {
    transform: translateX(-50%) translateY(0px);
  }
  50% {
    transform: translateX(-50%) translateY(-4px);
  }
  100% {
    transform: translateX(-50%) translateY(0px);
  }
}

.truck-animation {
  animation: truckMove 0.6s infinite;
}
